<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1 th:text="${relativepath}"></h1>
        <ul>
            <ol th:each="file:${files}">
                <img th:src="@{${relativepath}+'/'+${file}}" width="64" height="64">
                <div th:text="${file.name}"></div>
            </ol>
        </ul>
    </body>
</html>