<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">

<head>
    <title>A Simple Page with CKEditor 4</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/resources/ckeditor/ckeditor.js}"></script>
</head>
<body>
    <form method="post" th:action="@{/privated/article/search}">
        <label>标题：</label>
        <input type="text" name="title">
        <label>发布者：</label>
        <select name="publisher">
            <option th:each="publisher:${userslist}" th:value="${publisher.username}" th:text="${publisher.name}"></option>
        </select>
        <label>发布时间：</label>
        <input type="date" name="publishtimebegin">
        <input type="date" name="publishtimeend">
        <label>状态：</label>
        <select name="status">
            <option th:each="status:${statuses}" th:value="${status.ordinal()}" th:text="${status.getStatus()}"></option>
        </select>
        <input type="submit" value="查询">
    </form>
</body>