<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head> 
    <title>Show Article</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/resources/ckeditor/ckeditor.js}"></script>
</head>
<body>
    <h1 th:text="${article.title}"></h1>
    <form>
        <textarea name="editor1" id="editor1" rows="10" cols="80" th:text="${article.content}">
        </textarea>
        <script>
            CKEDITOR.replace( 'editor1')
        </script>
    </form>
    <script th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>