<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags" lang="zh-cn">

<head>
    <title>Portal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
    <div class="container-xl">
        <div class="d-flex justify-content-between">
            <nav class="nav-bar">
                <ul class="nav">
                    <li class="nav-item" th:each="item:${menu}"
                        th:classappend="${not #lists.isEmpty(item.child)}?'dropdown'">
                        <a class="nav-link" th:classappend="${not #lists.isEmpty(item.child)}?'dropdown-toggle'"
                            data-bs-toggle="dropdown" href="#" th:text="${item.text}"></a>
                        <ul class="dropdown-menu" th:if="${not #lists.isEmpty(item.child)}">
                            <li th:each="childitem:${item.child}">
                                <a class="dropdown-item" th:href="@{${childitem.url}}" th:text="${childitem.text}"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div>
                <a type="button" class="btn btn-primary" sec:authorize="not isAuthenticated()" th:href="@{/login}">登录</a>
                <div class="dropdown-center" sec:authorize="isAuthenticated()">
                    <a class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{/images/person-circle.svg}" width="32">
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" th:href="@{/privated/draft}">草稿箱</a></li>
                      <li sec:authorize="hasAuthority('admin')"><a class="dropdown-item" href="#">文章管理</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">修改密码</a></li>
                      <li><a class="dropdown-item" th:href="@{/logout}">退出</a></li>
                    </ul>
                  </div>
            </div>
        </div>
        <article>
            <ul th:each="column:${columns}">
                <h3 th:text="${column.title}"></h3>
                <li th:each="article:${column.articlelist}">
                    <a th:href="@{'/article/show/'+${article.id}}" th:text="${article.title}"></a>
                </li>
            </ul>
        </article>
    </div>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
</body>