<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head> 
    <title>Show Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <ul class="nav">
        <li class="nav-item" th:each="item:${menu}" th:classappend="${not #lists.isEmpty(item.child)}?'dropdown'" data-bs-toggle="dropdown">
            <a class="nav-link" href="#" th:text="${item.text}"></a>
            <ul class="dropdown-menu" th:if="${not #lists.isEmpty(item.child)}">
                <li th:each="childitem:${item.child}">
                    <a class="dropdown-item" href="#" th:text="${childitem.text}"></a>
                </li>
            </ul>
        </li>
    </ul>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
</body>