<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
    <head>
        <title>userlist</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    </head>
        <h1>用户列表</h1>
        <table>
            <tr>
                <th>用户名</th>
                <th>操作</th>
            </tr>
            <tr th:each="user:${allUsers}">
                <td th:text="${user.username}"></td>
                <td></td>
            </tr>
        </table>

    <body>

    </body>
</html>